.tz_portfolio_plus_articles {
  list-style: none;
  padding: 0;
}
.tz_portfolio_plus_articles li {
  margin-bottom: 2em;
}
.tz_portfolio_plus_articles li:before,
.tz_portfolio_plus_articles li:after {
  content: " ";
  display: table;
  clear: both;
}
.tz_portfolio_plus_articles li .tzpp_media {
  width: 100%;
  margin-bottom: 1rem;
}
.tz_portfolio_plus_articles li .tzpp_media img {
  max-width: 100%;
}
.tz_portfolio_plus_articles li .tzpp_content {
  width: 100%;
}
.tz_portfolio_plus_articles li .item-meta {
  margin-top: 10px;
}
.tz_portfolio_plus_articles li .item-meta > div {
  display: inline-block;
  font-size: 85%;
  margin-right: 10px;
}
.tz_portfolio_plus_articles li .title {
  margin: 0;
}
.tz_portfolio_plus_articles li .description {
  margin-top: 10px;
}
.tz_portfolio_plus_articles li:last-child {
  margin-bottom: 0;
}
.mod-tpp-portfolio__article .btn-view-all,
.tz_portfolio_plus_articles .btn-view-all {
  padding: 6px 20px;
}
.mod-tpp-portfolio__article .tpp-portfolio__action,
.tz_portfolio_plus_articles .tpp-portfolio__action {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .tz_portfolio_plus_articles li .tzpp_media {
    width: 100%;
  }
  .tz_portfolio_plus_articles li .tzpp_content {
    width: 100%;
  }
  .tz_portfolio_plus_articles li .title {
    margin-top: 15px;
  }
}
